.container {
  display: flex;
}

.image {
  width: 233.33px;
  border-radius: 4px;
  filter: grayscale(70%);
  border: 1px solid var(--color-white);
}

.link {
  border-radius: 4px;
  transition: scale 0.7s ease;
}

.link:hover {
  scale: 1.03;
}
